@{
    ViewData["Title"] = "About";
}

<main aria-labelledby="title">
    <h2>About KhumaloCraft Emporium</h2>
    <h3>@ViewBag.Message</h3>

    <body>
        <p>
            KhumaloCraft Emporium is dedicated to connecting artisans worldwide with a discerning audience.
            We strive to showcase the finest handcrafted products and support artisans in their craft.
            KhumaloCraft Emporium serves as a window into the ethos and mission of our global e-commerce platform.
            At KhumaloCraft, we are driven by the vision of founder James Khumalo to connect artisans from around the world with a discerning audience seeking unique, handcrafted products.
            Our platform is more than just a marketplace; it's a testament to the craftsmanship and creativity of artisans whose talents span diverse cultures and traditions.
            We are committed to showcasing the finest handcrafted products while fostering a community that celebrates and supports artisans in their craft.
            With a focus on quality, authenticity, and cultural appreciation, KhumaloCraft Emporium is not just a destination for shopping; it's a celebration of artistry, heritage, and global connectivity.
            Join us on our journey to explore the rich tapestry of craftsmanship that defines KhumaloCraft Emporium.
        </p>
    </body>
</main>