@{
    ViewData["Title"] = "Home Page";
}

<main>
    <h2>Welcome to KhumaloCraft Emporium</h2>

    <body>
        <p>
            KhumaloCraft Emporium is a global e-commerce platform dedicated to showcasing the finest handcrafted products from artisans around the world. Our mission is to connect artisans with a discerning audience, offering unique and culturally rich creations that celebrate craftsmanship and creativity.

            At KhumaloCraft Emporium, we believe in the power of handmade goods to tell stories, preserve traditions, and create meaningful connections. Each product in our collection is carefully curated to reflect the diversity and authenticity of artisanal craftsmanship, spanning various cultures and traditions.

            Whether you're searching for one-of-a-kind jewelry, intricately woven textiles, or beautifully sculpted pottery, KhumaloCraft Emporium offers a curated selection of handcrafted treasures that are as unique as they are beautiful.

            Join us in celebrating the artistry and creativity of artisans from around the globe. Explore our collection, discover the stories behind each piece, and support artisans in their craft. Welcome to KhumaloCraft Emporium, where every purchase tells a story and supports a maker.
        </p>

    </body>

    <section class="hero">
        <h1>Discover Unique Handcrafted Treasures</h1>
        <p>Explore our curated collection of artisanal products from around the world.</p>

    </section>
</main>